{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "flowtype",
    "prettier"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack/webpack.config.js"
      }
    }
  },
  "rules": {
    "react/require-extension": "off",
    "react/prop-types": 0,
    "import/imports-first": 0,
    "no-plusplus": 0,
    "react/jsx-filename-extension": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "import/no-unresolved": 0,
    "react/forbid-prop-types": 0,
    "react/no-unused-prop-types": 0,
    "no-confusing-arrow": 0,
    "no-underscore-dangle": 0,
    "class-methods-use-this": 0,
    "prettier/prettier": ["error", {
      "singleQuote": true,
      "trailingComma": "all"
    }],
    "no-restricted-syntax": 0,
    "guard-for-in": 0,
    "react/no-danger": 0,
    "import/extensions": 0
  },
  "env": {
    "browser": true,
    "jest": true
  }
}
